checkpoints/A/model_A_epoch_1.pth
checkpoints/A/model_A_epoch_3.pth
checkpoints/A/model_A_epoch_5.pth
checkpoints/A/model_A_epoch_6.pth
checkpoints/A/model_A_epoch_10.pth
checkpoints/A/model_A_epoch_13.pth
checkpoints/A/model_A_epoch_15.pth
checkpoints/A/model_A_epoch_20.pth
checkpoints/A/model_A_epoch_26.pth
checkpoints/A/model_A_epoch_40.pth
datasets/A/0.2_test.json
datasets/A/0.2_train.json
datasets/B/0.4_test.json
datasets/B/0.4_train.json
datasets/C/0.2_asy_test.json
datasets/C/0.2_asy_train.json
datasets/D/0.4_asy_test.json
datasets/D/0.4_asy_train.json
logs/A/training.log
logs/A/plots/training_progress.png
logs/A/plotsVal/training_progress.png
logs/B/training.log
logs/B/plots/training_progress.png
logs/C/training.log
logs/C/plots/training_progress.png
logs/D/training.log
logs/D/plots/training_progress.png
